header {
  width: 100%;
  padding: 16px 24px;
  text-align: center;
  background: var(--primary-bg);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container {
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  header .container {
    flex-direction: row;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 5;
  }

}
